html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

/* HERO STYLE */
.hero-gradient {
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    border-radius: 16px;
}

    .hero-gradient .btn {
        border-radius: 12px;
    }

.kpi-card,
.card {
    border-radius: 16px;
}

.btn {
    border-radius: 12px;
}
